# ───────── Transformer checkpoints ─────────
transformers/models/gpt2/**/*
!transformers/models/gpt2/.gitkeep

transformers/models/gpt2-medium/**/*
!transformers/models/gpt2-medium/.gitkeep

transformers/models/gpt2-large/**/*
!transformers/models/gpt2-large/.gitkeep

# ───────── Tokenizer ─────────
tokenizer.json

# ───────── Weights ─────────
weights/*
!weights/.gitkeep
# ───────── Build / logs ─────────
out/*
logs/*

# ───────── Local env / editors ─────────
transformers_env/
.vscode/


# ───────── Large binaries ─────────
gpt2_c_weights.bin
gpt2_medium_c_weights.bin
gpt2_large_c_weights.bin

# ───────── macOS / Xcode ─────────
*.dSYM
.DS_Store/*
.DS_Store
blog/*

